/* 
    Document   : style
    Created on : 24.07.2013, 11:30:47
    Author     : maximilian
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

video {
    width: 640px;
    height: 360px;
}

.videoMainWrap .vtt-overlay-item {
    position: absolute;
    z-index: 10;
}
